################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/project/.ipynb_checkpoints/
/project/encoder
/project/fastText
