################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.ipynb_checkpoints
project/.ipynb_checkpoints/Capstone-checkpoint.ipynb
/project/InferSent
