################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/project/InferSent/
/project/.ipynb_checkpoints/
